Header set Content-Security-Policy "
    default-src 'self';
    style-src 'self' https://cdnjs.cloudflare.com;
    script-src 'self' 'unsafe-inline' 'unsafe-eval';
    frame-src https://replit.com https://*.replit.com;
    frame-ancestors 'self' http://localhost:5500 http://127.0.0.1:5500 http://10.2.0.2:5500 http://192.168.1.55:5500;
    img-src 'self' data:;
    font-src 'self' https://fonts.gstatic.com;
    connect-src 'self';
"